* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'CircularStd', sans-serif;
  letter-spacing: .05rem;
  /* border: solid 0.5px yellowgreen; */
}

html, body {
  height: 100%;
  font-weight: 400;
}

body {
  background-color: #17202e;
}

#root {
  height: 100%;
}

nav {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
}

select {
  background-color: inherit;
  color: white;
  height: 3em;
  font-family: 'CircularStd', sans-serif;
  font-weight: 700;
  /* appearance: none;*/
  border: 0;
}

nav>span {
  margin: auto 2rem;
}

canvas {
  display: block;
  margin: 0 auto;
  margin: calc(50vh - 240px) auto 0;
  background-color: #000;
}

/* Controls text color of chart-labels */

text {
  fill: #fff !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2.5vw;
  background-color: #202a3b;
  color: #fff;
  min-height: 180px;
  min-width: 280px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  ;
}

.card-title {
  color: #8091ab;
  font-size: .875rem;
}

.card-stat {
  font-size: 2rem;
}

.center {
  text-align: center;
}

.left-margin {
  margin-left: 2.5rem;
}

.top-margin {
  margin-top: 1.5rem;
}

.piebox {
  display: flex;
  justify-content: space-around;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


.loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading>* {
  color: white;
}

.loading>p>a {
  color: white;
}

.trickyChart {
  align-self: center;
}

@media screen and (max-width: 310px) {
  /* applies styles to any device screen sizes below the given width wide */
  .trickyChart {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  
}


/* Atrribution: PlotDB Ltd.  https://loading.io/css/ */
/* CSS for Spinning Icon */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}