@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'CircularStd', sans-serif;
  letter-spacing: .05rem;
}

html, body {
  height: 100%;
  font-weight: 400;
}

body {
  background-color: #17202e;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2.5rem;
  background-color: #202a3b;
  color: #fff;
  min-height: 150px;
  padding-left: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  ;
}

.card-title {
  padding: 5px;
  color: #8091ab;
  font-size: .875rem;
}

.card-stat {
  padding: 5px;
  font-size: 2rem;
}