@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'CircularStd', sans-serif;
  letter-spacing: .05rem;
  /* border: solid 0.5px yellowgreen; */
}

html, body {
  height: 100%;
  font-weight: 400;
}

body {
  background-color: #17202e;
}

text {
  fill: #fff !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2.5rem;
  background-color: #202a3b;
  color: #fff;
  min-height: 150px;
  min-width: 250px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  ;
}

.card-title {
  color: #8091ab;
  font-size: .875rem;
}

.card-stat {
  font-size: 2rem;
}

.center {
  text-align: center;
}

.left-margin {
  margin-left: 2.5rem;
}

.top-margin {
  margin-top: 1.5rem;
}

.piebox {
  display: flex;
  justify-content: space-around;
}

.flexbox {
  display: flex;
  flex-direction: row;
  border-style: solid;
  justify-content: space-around;
  flex-wrap: wrap;
}

